<php>$os_seo_meta = get_seo_meta($vars,$seo);</php>
<if condition="$os_seo_meta['title']"><title>{$os_seo_meta['title']}</title><else/><title>{:C('WEB_SITE_TITLE')}</title></if>
<if condition="$os_seo_meta['keywords']"><meta name="keywords" content="{$os_seo_meta['keywords']}"/><else/><meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}"/></if>
<if condition="$os_seo_meta['description']"><meta name="description" content="{$os_seo_meta['description']}"/><else/><meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}"/></if>