<volist name="tree" id="list">
	<dl class="cate-item">
		<dt class="cf">
			<form action="{:U('goodsCategoryEdit')}" method="post">
				<div class="btn-toolbar opt-btn cf">
					<a title="{$list.status|show_status_op}" href="{:U('goodsCategorySetStatus?ids='.$list['id'].'&status='.abs(1-$list['status']))}" class="ajax-get">{$list.status|show_status_op}</a>
					<a title="编辑" href="{:U('goodsCategoryEdit?id='.$list['id'].'&pid='.$list['pid'])}">编辑</a>
					<a title="删除" href="{:U('goodsCategoryRemove?id='.$list['id'])}" class="confirm ajax-get">删除</a>
				</div>
				<div class="fold"><i></i></div>
				<div class="order"><input type="text" name="sort" class="text input-mini" value="{$list.sort}"></div>
				<div class="name">
					<span class="tab-sign"></span>
					<input type="hidden" name="id" value="{$list.id}">
					<input type="text" name="name" class="text" value="{$list.name}">
					<a class="add-sub-cate" title="添加子分类" href="{:U('goodsCategoryAdd?pid='.$list['id'])}">
						<i class="icon-add"></i>
					</a>
					<span class="help-inline msg"></span>
				</div>
			</form>
		</dt>
		<notempty name="list['_']">
			<dd>
				{:R('Goods/tree', array($list['_']))}
			</dd>
		</notempty>
	</dl>
</volist>