<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>{$info['id']?'编辑':'新增'}SEO规则</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">规则名称<span class="check-tips">（规则名称，方便记忆）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">模块<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="module" value="{$info.module|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">控制器<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="controller" value="{$info.controller|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">方法<span class="check-tips">（不填表示所有方法）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="act" value="{$info.action|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">SEO标题<span class="check-tips">（不填表示使用下一条规则，支持变量）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="seo_title" value="{$info.seo_title|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">SEO关键字<span class="check-tips">（不填表示使用下一条规则，支持变量）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="seo_keywords" value="{$info.seo_keywords|default=''}">
            </div>
        </div>
        <div class="form-item">
                <label class="item-label">SEO描述<span class="check-tips">（不填表示使用下一条规则，支持变量）</span></label>
                <div class="controls">
                        <label class="textarea input-large">
                                <textarea name="seo_description">{$info.seo_description|default=''}</textarea>
                        </label>
                </div>
        </div>
            
        <div class="form-item">
            <label class="item-label">排序<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-small" name="sort" value="{$info.sort|default='0'}">
            </div>
        </div>
        <div class="form-item">
                <label class="item-label">状态<span class="check-tips"></span></label>
                <div class="controls">
                        <select name="status">
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                </div>
        </div>

		<div class="form-item">
			<input type="hidden" name="id" value="{$info.id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>

<block name="script">
	<script type="text/javascript">
                Think.setValue("status", {$info.status|default=1});
		highlight_subnav('{:U('Seo/index')}');
	</script>
</block>
