<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>SEO规则回收站</h2>
	</div>
    <div class="cf">
        <button class="btn ajax-post" url="{:U('restore')}" target-form="ids">还 原</button>
        <button class="btn ajax-post confirm" url="{:U('thoroughDel')}" target-form="ids">删 除</button>
    </div>

    <div class="data-table table-striped">
        <form class="ids">
            <table>
                <thead>
                    <tr>
                        <th class="row-selected">
                            <input class="checkbox check-all" type="checkbox">
                        </th>
                        <th>ID</th>
                        <th>规则名称</th>
                        <th>模块</th>
                        <th>控制器</th>
                        <th>方法</th>
                        <th>SEO标题</th>
                    </tr>
                </thead>
                <tbody>
		<notempty name="list">
                <volist name="list" id="vo">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="ids[]" value="{$vo.id}"></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.title|default='无'}</td>
                        <td>{$vo.module|default='无'}</td>
                        <td>{$vo.controller|default='无'}</td>
                        <td>{$vo.action|default='无'}</td>
                        <td>{$vo.seo_title|default='无'}</td>
                    </tr>
                </volist>
                <else/>
                <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        highlight_subnav('{:U('index')}');
    </script>
</block>